# fly.toml app configuration file generated for the1068fm on 2023-12-02T00:02:03+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "the1068fm"
primary_region = "hkg"
swap_size_mb = 512

[build]

[env]
DATABASE_CONNECTION_TYPE = "remote"
NODE_ENV = "production"
PORT = "3000"
SERVER_URL = "https://fm.the1068.pictures"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = [ "app" ]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 256
